@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

* {
    margin: 0;
    padding: 0
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #6c757d
}

body {
    background-color: #f9fffc
}

h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 700
}

h2 {
    font-size: 3rem;
    line-height: 3.6rem;
    font-weight: 700
}

h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700
}

h4 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600
}

h5 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 600
}

h6 {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 600
}

p {
    font-size: 1rem;
    line-height: 1.5rem
}

a {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    color: #72e0b6
}

a:hover {
    color: #72e0b6;
    text-decoration: underline
}

button {
    border-radius: 4px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0.5rem 2rem !important;
    font-weight: 600 !important
}

button.btn.btn-primary {
    background-color: #72e0b6;
    color: #f9fffc;
    border: 2px solid #72e0b6
}

button.btn.btn-primary:hover {
    background-color: #59d4a5;
    color: #fff
}

button.btn.btn-primary:focus,
button.btn.btn-primary:active {
    background-color: #40cc96 !important;
    border: 2px solid #40cc96 !important;
    color: #fff !important
}

button.btn.btn-secondary {
    background-color: transparent;
    color: #f9fffc;
    border: 2px solid #f9fffc
}

button.btn.btn-secondary:hover {
    background-color: #f9fffc;
    border: 2px solid #f9fffc;
    color: #72e0b6
}

button.btn.btn-secondary:focus,
button.btn.btn-secondary:active {
    background-color: #f9fffc !important;
    border: 2px solid #f9fffc !important;
    color: #72e0b6 !important
}

input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border-radius: 4px !important
}

input.form-control {
    height: unset !important;
    padding: 0.75rem 1rem
}

small {
    font-size: 0.75rem
}

.text-primary {
    color: #72e0b6 !important
}

#panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    width: 100vw;
    height: 100vh
}

@media only screen and (max-width: 767px) {
    #panel {
        display: unset !important
    }
}

#panel #auth-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 33.3%;
    height: 100%;
    z-index: 10;
    background: -webkit-gradient(linear, left top, right bottom, from(#72e0b6dc), color-stop(#72e0b6cc), to(#72e0b6dc)), url("../img/hanaemi/img-login.svg") center/cover no-repeat;
    background: linear-gradient(to bottom right, #72e0b6dc, #72e0b6cc, #72e0b6dc), url("../img/hanaemi/img-login.svg") center/cover no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

@media only screen and (max-width: 767px) {
    #panel #auth-sidebar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        top: 0;
        left: 0 !important;
        width: 100%;
        height: 20%
    }
}

#panel #auth-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 66.7%;
    height: 100%;
    background-color: #f9fffc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

@media only screen and (max-width: 767px) {
    #panel #auth-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        top: 20%;
        left: 0 !important;
        width: 100%;
        min-height: 80%
    }
}

#auth-content-signin-box,
#auth-content-signup-box {
    -webkit-transition: display 0.5s;
    transition: display 0.5s
}

@media only screen and (max-width: 767px) {

    #auth-content-signin-box,
    #auth-content-signup-box {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease
    }
}

.auth-content-header {
    margin-bottom: 2.5rem
}

.form-group {
    position: relative;
    margin-bottom: 1.25rem
}

.form-group input:not([disabled]):focus~.placeholder,
.form-group.hasValue input:not([disabled])~.placeholder {
    font-size: .75rem;
    top: 0%
}

.form-group input:not([disabled]):focus {
    border-color: #72e0b6
}

.form-group input:not([disabled]):focus~.placeholder {
    color: #72e0b6
}

.form-group .placeholder {
    font-size: 1rem;
    cursor: text;
    color: #a1a1a1;
    position: absolute;
    top: 50%;
    padding-left: 0.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: left;
    width: 100%
}

.form-group .placeholder.text-center {
    left: 0
}

.form-group .placeholder span {
    background-color: #f9fffc;
    padding: 0 8px
}

.custom-checkbox .custom-control-label {
    font-size: .75rem;
    vertical-align: middle
}

.custom-checkbox .custom-control-label::before {
    top: 0.12rem
}

.custom-checkbox .custom-control-label::after {
    top: 0.12rem
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    -webkit-box-shadow: 0 0 0 1px #72e0b6bb, 0 0 0 0.2rem #72e0b6a1;
    box-shadow: 0 0 0 1px #72e0b6bb, 0 0 0 0.2rem #72e0b6a1;
    border-color: #40cc96
}

.custom-checkbox .custom-control-input:not(:disabled):active~.custom-control-label::before {
    border-color: #40cc96;
    background-color: #72e0b6a1
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #72e0b6;
    border-color: #40cc96
}

button#signin-button,
button#signup-button {
    width: unset
}

@media only screen and (max-width: 575px) {

    button#signin-button,
    button#signup-button {
        width: 100%
    }
}

.custom-mt-25 {
    margin-top: 2.5rem
}

@media only screen and (max-width: 575px) {
    .custom-mt-25 {
        margin-top: 0
    }
}

.logo {
    font-size: .75rem;
    color: #fff;
    position: absolute;
    top: 1rem
}

.copyright {
    font-size: .75rem;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    left: 2rem
}